.swiper-right-btn-bgc {
  background: linear-gradient(270deg, #030303 0%, rgba(3, 3, 3, 0.8) 55.46%, rgba(3, 3, 3, 0) 100%);
}
.swiper-left-btn-bgc {
  background: linear-gradient(270deg, rgba(3, 3, 3, 0) 0%, rgba(3, 3, 3, 0.8) 55.46%, #030303 100%);
}

.prev-btn {
  transform: scale(-1);
}
.next-btn,
.prev-btn {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: url("/images/right_btn.png") no-repeat;
  background-size: 100% 100%;
  transition: all 0.2s;
  &:hover {
    background-image: url("/images/right_btn_hover.png");
    background-size: 100% 100%;
  }
}

.bgGradient-type1 {
  background: linear-gradient(180deg, #38c1a5 0%, #0891d5 100%);
}

.bgGradient-type3 {
  background: linear-gradient(180deg, #d9e313 0%, #3cbc34 100%);
}

.bgGradient-type4 {
  background: linear-gradient(180deg, #e0ad38 0%, #eb3e1c 100%);
}
